.pilt {
  width: 200px;
  height: 100px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  background-color: beige;
}

.nupp:hover {
  font-weight: bold;
  cursor: pointer;
}

.aktiivne {
  border: 1px solid green;
  background-color: rgb(231, 238, 231);
}

.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(243, 236, 236);
}